<div class="container-step !bg-[rgba(111,111,111,0.2)] !rounded-md" [ngClass]="{'deleting': isDeleting}">
  <div class="container-header-step !text-sm">
    @if(!isEditing) {
    <div class="container-step-title">
      <div class="flex gap-2 items-center">
        <p class="step-title">{{ step.name }}</p>
        <div class="flex w-6 h-6 bg-[rgba(255,255,255,0.2)] items-center justify-center rounded-full !text-sm">
          {{ step.tasks.length }}
        </div>
      </div>
      <button class="edit-step-name" (click)="onEditStep()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
      </button>
    </div>
    }
    @if(isEditing) {
    <div class="container-edit-step-title">
      <input class="edit-step-title" [(ngModel)]="setTitleStep" />
      <button class="confirm-step-name" (click)="onConfirmEditStep()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check"></mat-icon>
      </button>
      <button class="confirm-step-name" (click)="onCancelEditStep()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
      </button>
    </div>
    }
    <div class="container-buttons">
      <button class="add-task" (click)="onCreateStep()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      </button>
      <button class="add-task" (click)="onDeleteStep()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
      </button>
    </div>
  </div>
  <div class="container-cards">
    <ng-container *ngFor="let card of step.tasks; trackBy: trackByTaskId">
      <app-card class="teste1" [card]="card" [cards]="cards" cdkDrag></app-card>
    </ng-container>
  </div>
</div>


<!-- <div class="new-card-modal"> -->
<!-- <app-base-modal>
    <app-create-modal [step]="step"></app-create-modal>
  </app-base-modal> -->
<!-- </div> -->