<div class="container-step">
  <div class="container-header-step">
    <p>{{ step.title }} ({{ step.cards.length }})</p>
    <div class="container-buttons">
      <button class="add-task" (click)="onCreateTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      </button>
      <button class="add-task" (click)="onCreateTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
      </button>
    </div>
  </div>
  <div class="container-cards">
    @for (card of step.cards; track card) {
    <app-card class="teste1" [card]="card" [cards]="cards" cdkDrag></app-card>
    }
  </div>
</div>


@if(newCardModal) {
  <div class="new-card-modal">
    <app-create-modal [step]="step" ></app-create-modal>
  </div>
}