<div class="container-step">
  <div class="container-header-step">
    <div class="container-step-title">
      <p class="step-title">{{ step.title }}({{ step.cards.length }})</p>
      <button class="edit-step-name" (click)="onEditTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
      </button>
    </div>
    <div class="container-buttons">
      <button class="add-task" (click)="onCreateTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      </button>
      <button class="add-task" (click)="onCreateTask()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
      </button>
    </div>
  </div>
  <div class="container-cards">
    @for (card of step.cards; track card) {
    <app-card class="teste1" [card]="card" [cards]="cards" cdkDrag></app-card>
    }
  </div>
</div>


<!-- <div class="new-card-modal"> -->
  <!-- <app-base-modal>
    <app-create-modal [step]="step"></app-create-modal>
  </app-base-modal> -->
<!-- </div> -->
