<main>
  <div class="container-login">
    <div class="description-login-area">
      <div>COMECE DE GRAÇA</div>
      <h1>Crie uma nova conta.</h1>
      <div>Faça login aqui.</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <app-input label="Email" [control]="loginForm.controls.email" type="email" placeholder="Digite seu e-mail" />
      <app-input label="Senha" [control]="loginForm.controls.password" type="password" placeholder="Digite sua senha" />
      <app-button type="submit">Entrar</app-button>
    </form>
  </div>
</main>
