<app-base-modal (closed)="closeModal()">
  <div class="flex gap-10 pb-10">
    <div [ngClass]="modalType === 'createCardModal' ? 'w-[70%]' : 'w-[100%]'">
      <div class="modal-title">
        <label for="">Título</label>
        <input #titleInput
          class="text-white text-sm font-light py-2 bg-gray-700 border-2-gray-400 flex items-center rounded-md px-2 focus:!outline-none "
          [formControl]="title" />
        <!-- <app-input label=" título"></app-input> -->
      </div>
      <div class="continer-description">
        <label for="">Descrição</label>
        <textarea #descriptionInput [formControl]="description"
          class="w-full h-[100px] text-sm bg-gray-700 rounded-md !p-2 focus:!outline-none text-white resize-none"></textarea>
      </div>
    </div>
    @if (modalType === "createCardModal") {
    <div class="!mt-[10px] border-l-2 border-solid border-[#36383F] px-4 w-[30%]">
      <label class="text-md" for="">Tags</label>
      <div class="flex flex-col !mt-6 gap-2">
        @for (tag of tags; track tag.id){
        <div
          [ngStyle]="{ 'background-color': tag.color, 'border': tag.id === selectedTag?.id ? '2px solid white' : 'none'}"
          (click)="onSelectedTag(tag)"
          class="rounded-sm px-2 py-1 text-md font-normal mr-2 mb-2 text-white cursor-pointer">
          {{ tag.name }}
        </div>
        }
      </div>
    </div>
    }

  </div>

  <!-- <div>Aqui {{step.id}}</div> -->
  @if(!project){
  @if(modalType === "createCardModal"){
  <div class="flex justify-center">
    <button (click)="createCard()"
      class="rounded-md cursor-pointer text-white bg-[#5252D9] hover:bg-[#3f3fb9] flex w-min h-auto py-1 px-6 ">
      Criar
    </button>
  </div>

  }
  @if(typeModal){
  <div class="flex justify-center">
    <button (click)="onCreateProject()"
      class="rounded-md cursor-pointer text-white bg-[#5252D9] hover:bg-[#3f3fb9] flex w-min h-auto py-1 px-6 ">
      Criar
    </button>
  </div>
  }
  }
  @if(project && modalType === "editProjectModal"){
  <div class="flex justify-center">
    <button (click)="editProjectModal()"
      class="rounded-md cursor-pointer text-white bg-[#5252D9] hover:bg-[#3f3fb9] flex w-min h-auto py-1 px-6 ">
      Concluir
    </button>
  </div>
  }
</app-base-modal>