<app-base-modal (closed)="closeModal()">
  <div class="modal-title">
    <label for="">Título</label>
    <input class="input-title" type="text" [formControl]="title">
    <!-- <app-input label="título"></app-input> -->
  </div>
  <div class="continer-description">
    <label for="">Descrição</label>
    <textarea class="area-description" [formControl]="description"></textarea>
  </div>
  <!-- <div>Aqui {{step.id}}</div> -->
  @if(!project){
  <!-- <button (click)="createCard()">
    Criar
  </button> -->
  @if(modalType === "createModal"){
    <button (click)="createCard()">
      Criar
    </button>
  }
  @if(typeModal){
    <button (click)="onCreateProject()">
      Criar
    </button>
  }
  }
  @if(project && modalType === "editProjectModal"){
  <button (click)="editProjectModal()">
    Concluir
  </button>
  }
</app-base-modal>