<main>
  <div class="welcome-title">Bem vindo de Volta!</div>
  <div class="project-header">
    <div class="project-name">Nome do Projeto</div>
    <p>Descrição do projeto. Aqui é onde vai conter informações resumidas sobre o conteúdo do projeto</p>
  </div>
  <div class="container-steps">
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
    <app-step-collumn></app-step-collumn>
  </div>
</main>