<main>
  <div class="container-login">
    <div class="description-login-area">
      <div>Gerencie suas tarefas com facilidade!</div>
      <h1>TASK MANAGER</h1>
      <div>Crie sua conta aqui.</div>
      <button (click)="navigateToLogin()">Faça login aqui</button>
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="signUp()">
      <app-input label="Nome" [control]="signInForm.controls.name" type="text" placeholder="Digite seu nome" />
      <app-input label="Email" [control]="signInForm.controls.email" type="email" placeholder="Digite seu e-mail" />
      <app-input label="Senha" [control]="signInForm.controls.password" type="password" placeholder="Digite sua senha" />
      <app-button type="submit">Cadastrar</app-button>
    </form>
  </div>
</main>
