<main>
  <div class="text-white flex flex-col gap-2 w-[20%]">
    <div class="flex flex-col justify-center items-center w-full gap-6">
      <div class="flex w-auto text-2xl">TASK MANAGER</div>
      <div>Crie sua conta aqui.</div>
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="signUp()">
      <app-input label="Nome" [control]="signInForm.controls.name" type="text" placeholder="Digite seu nome" />
      <app-input label="Email" [control]="signInForm.controls.email" type="email" placeholder="Digite seu e-mail" />
      <app-input label="Senha" [control]="signInForm.controls.password" type="password"
        placeholder="Digite sua senha" />
      <app-button type="submit">Cadastrar</app-button>
    </form>
    <button (click)="navigateToLogin()">Faça login aqui</button>
  </div>
</main>