.layout-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  margin: 0px;
  /* background: rgb(32,31,33); */
  /* background: linear-gradient(90deg, rgba(32,31,33,1) 0%, rgba(58,26,72,1) 35%, rgba(47,45,57,1) 100%); */
  background-color: #1E1F29;
}

.container-select-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.delete-project {
  display: flex;
  opacity: 0;
  background-color: transparent;
  border: none;
  color: #7e8394;
  cursor: pointer;
}

.container-select-project:hover .delete-project {
  opacity: 100;
}

mat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 10px;
}

.projects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor do texto padrão */
}

.projects-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-weight: 900;
}

aside {
  padding: 30px;
  /* background-color: var(--secondary-color); */
  /* background-color: transparent; */
  background-color: #2A2B3D;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  color: white;
}
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* h3 {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-weight: 900;
} */

.main-content {
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* Evita que conteúdos dentro do router-outlet estourem o layout */
}

.modal-open {
  filter: blur(5px);
  pointer-events: none; /* Opcional: evita cliques no fundo */
}