<div class="layout-container">
  <div class="content">
    <aside>
      <h3>Projetos</h3>
      <div class="sidebar">
        <div class="projects">
          @for (project of projects; track project.id) {
          <div class="container-select-project">
            <a [routerLink]="['/tasks', project.id]">
              <div class="project-title">{{ project.title }}</div>
            </a>
            <button class="delete-project" (click)="onDeleteProject(project.id)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
            </button>
          </div>
          }
          <button (click)="onCreateProject()">Novo Projeto</button>
        </div>
        <button (click)="onLogout()">Logout</button>
      </div>
    </aside>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>