<div class="layout-container">
  <div class="content">
    <aside>
      <div class="projects-header !gap-10">
        <img src="imagem.png" alt="" class="w-auto h-auto display-block" />
        <div class="flex gap-2">
          <mat-icon fontIcon="view_timeline" class="!text-[30px] font-normal"></mat-icon>
          <h3 class="font-normal text-[18px]">Projetos</h3>
        </div>
      </div>
      <div class="sidebar w-full">
        <div class="projects !mt-4">
          @for (project of projects; track project.id) {
          <div class="container-select-project bg-[#3A3B4E] flex !justify-between !px-4 !items-center rounded-md !border-none !py-4 !w-full">
            <a [routerLink]="['/tasks', project.id]">
              <div class="project-title">{{ project.name }}</div>
            </a>
            <button class="delete-project" (click)="onDeleteProject(project.id)">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
            </button>
          </div>
          }
          <app-button (click)="onCreateProject()">Novo Projeto</app-button>
        </div>
        <app-button (click)="onLogout()">Logout</app-button>
      </div>
    </aside>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>