<app-base-modal modalType="detailModal">
  <div class="flex gap-10">
    <div class="w-[70%]">
      @if(!isEditingCardTitle) {
      <div class="text-white text-2xl font-light pb-6 border-2-transparent flex items-center"
        (click)="onEditCardTitle()">
        {{setTitleCard ? setTitleCard : selectedCard?.title}}
      </div>
      }
      @if(isEditingCardTitle) {
      <div class="pb-6">
        <input #titleInput
          class="text-white text-2xl font-light bg-gray-700 border-2-gray-400 flex items-center rounded-md px-2 focus:!outline-none "
          [(ngModel)]="setTitleCard" />
      </div>
      }
      <div class="continer-description !h-auto">
        @if(!isEditingDescriptionCard) {
        <label class="!text-md" for="">Descrição</label>
        <div class="h-auto text-sm text-white bg-gray-700 rounded-md p-2" (click)="onEditDescriptionCard()">
          {{setDescriptionCard ?
          setDescriptionCard : selectedCard?.description }}</div>
        }
        @if(isEditingDescriptionCard) {
        <label class="!text-[20px]" for="">Descrição</label>
        <textarea #descriptionInput
          class="w-full h-[100px] text-sm bg-gray-700 rounded-md !p-2 focus:!outline-none text-white resize-none"
          [(ngModel)]="setDescriptionCard"></textarea>
        }
      </div>
    </div>
    <div class="!mt-[10px] border-l-2 border-solid border-[#36383F] px-4 w-[30%]">
      <label class="text-md" for="">Tags</label>
      <div class="flex flex-col !mt-6 gap-2">
        @for (tag of tags; track tag.id){
        <div (click)="onEditTagCard(tag)"
          [ngStyle]="{ 'background-color': tag.color, 'border': tag.id === selectedCard?.tagId ? '2px solid white' : 'none' }"
          class="rounded-sm px-2 py-1 text-md font-normal mr-2 mb-2 text-white cursor-pointer">
          {{ tag.name }}
        </div>
        }
      </div>
    </div>
  </div>
</app-base-modal>